<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Fire Sale Exception</h1>
    <p>
      <%= @message %><br/>
      <%= raw @backtrace.join("<br/>") %>
    </p>
  </body>
</html>
