<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It's a fire sale!</h1>
    <% @alerts.each do |a| %>
      <p>
        <a href="https://www.google.com/finance?q=<%= a[:symbol] %>" target="_blank"><%= a[:symbol] %>'s</a> alert price $<%= a[:alert_price] %>
      has been triggered, it is now trading at $<%= a[:price] %>!
      </p>
    <% end %>
  </body>
</html>
