<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It's a fire sale!</h1>
    <p>
      <%= @symbol %>'s alert price $<%= @alert_price %> has been triggered,
      it is now trading at $<%= @current_price %>!
    </p>
  </body>
</html>
